.container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.list-pokemon{
    list-style-type: none;
    overflow: hidden;
    overflow-y: overlay;
    height: 200px;
    padding: initial;
}

.list-pokemon_item{
    margin: auto;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
    background-color: white;
}

.active{
    background-color: #ccc;
    color: white;
}

.disabled{
    display: none;
}

.wrapper-list{
    width: 300px;
    padding-right: 70px;
}

.wrapper-avatar{
    width: 250px;
    height: 200px;
}

.abilities-list{
    width: 100%;
    flex-wrap: wrap;
    display: inline-flex;
    justify-content: space-between;
}

.ability-list_item{
    width: 40%;
    background-color: white;
    text-align: center;
    margin-top: 7px;
}

.pokedex-moldure{
    background-color: #dd3e2b;
    border-radius: 25px 25px 0 0;
}

.pokedex-header{
    display: flex;
    padding-top: 10px;
    padding-left: 10px;
}

.pokedex-content{
    display: inline-flex;
}

.circle-main{
    width: 50px;
    height: 50px;
    background: #28aafd;
    border: 4px solid white;
    border-radius: 100%;
}
.circle-one{
    width: 25px;
    height: 25px;
    background: #e34350;
    border-radius: 100%;
    border: 1px solid #7b3434;
    margin-left: 20px;
}

.circle-two{
    width: 25px;
    height: 25px;
    background: #eace1c;
    border-radius: 100%;
    border: 1px solid #7b3434;
    margin-left: 5px;
}

.circle-tree{
    width: 25px;
    height: 25px;
    background: #316c3b;
    border-radius: 100%;
    border: 1px solid #7b3434;
    margin-left: 5px;
}

.pokemon-avatar{
    width: 100%;
    background: white;
    height: 96px;
}

.pokemon-name{
    color: white;
    font-size: 24px;
}