body{
    font-family: 'Tomorrow', sans-serif;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.list-pokemon{
    list-style-type: none;
    overflow: hidden;
    overflow-y: overlay;
    height: 290px;
    padding: initial;
    margin-top: 0;
}

.list-pokemon_item{
    margin: auto;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    cursor: pointer;
    background-color: white;
}

.active{
    background-color: #ccc;
    color: white;
}

.disabled{
    display: none;
}

.wrapper-list{
    width: 200px;
    padding-right: 10px;
}

.wrapper-avatar{
    width: 250px;
    height: 200px;
}

.abilities-list{
    width: 100%;
    flex-wrap: wrap;
    display: inline-flex;
    justify-content: space-between;
}

.ability-list_item{
    width: 40%;
    background-color: #b2d6dd;
    text-align: center;
    margin-top: 7px;
    color: white;
    font-size: 15px;
    text-shadow: -1px 0 #4c4c4c, 0 1px #4c4c4c, 1px 0 #4c4c4c, 0 -1px #4c4c4c;
}

.pokedex-moldure{
    border-radius: 25px 25px 0 0;
    background-color: #dd3e2b;
    border-left: 5px solid #dd3e2b;
    border-right: 5px solid #dd3e2b;
    border-bottom: 120px solid #dd3e2b;
}

.pokedex-header{
    display: flex;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
}

.pokedex-content{
    display: inline-flex;
}

.circle-main{
    width: 50px;
    height: 50px;
    background: #28aafd;
    border: 4px solid white;
    border-radius: 100%;
}
.circle-one{
    width: 25px;
    height: 25px;
    background: #e34350;
    border-radius: 100%;
    border: 1px solid #7b3434;
    margin-left: 20px;
}

.circle-two{
    width: 25px;
    height: 25px;
    background: #eace1c;
    border-radius: 100%;
    border: 1px solid #7b3434;
    margin-left: 5px;
}

.circle-tree{
    width: 25px;
    height: 25px;
    background: #316c3b;
    border-radius: 100%;
    border: 1px solid #7b3434;
    margin-left: 5px;
}

.pokemon-avatar{
    width: 100%;
    background: white;
    height: 96px;
    text-align: center;
    border-radius: 0 0 0 30px;
    border-bottom: 30px solid #eefcea;
    border-left: 5px solid #eefcea;
    border-top: 12px solid #eefcea;
    border-right: 5px solid #eefcea;
}

.pokemon-name{
    color: white;
    font-size: 24px;
}

.pokedex-content{
    background-color: #c53827;
    padding: 20px;
    height: 280px;
}

/* SCROLL BAR */
/* width */
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 0px 10px 10px 0;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 0px 10px 10px 0;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }